go 1.27.0

use (
	.
	./adapters/inbox
	./adapters/nats
	./adapters/outbox
	./observability
	./testdata/consumer
	./testdata/e2e
	./tools/gomessengerctl
)

replace (
	github.com/assurrussa/gomessenger v0.0.0 => .
	github.com/assurrussa/gomessenger/adapters/inbox v0.0.0 => ./adapters/inbox
	github.com/assurrussa/gomessenger/adapters/nats v0.0.0 => ./adapters/nats
	github.com/assurrussa/gomessenger/adapters/outbox v0.0.0 => ./adapters/outbox
	github.com/assurrussa/gomessenger/observability v0.0.0 => ./observability
	github.com/assurrussa/outbox => ../outbox
)
